<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Atomy</string>
	<key>ordering</key>
	<array>
		<string>9D209BC9-5AE7-466B-B912-CFDC8E736D9E</string>
		<string>C661E0AB-0342-4F96-9266-F6564326250C</string>
		<string>752995E0-8AF8-45B9-B7C1-7AD2FC770C7C</string>
	</array>
	<key>uuid</key>
	<string>8E8F0DC1-B4E5-479A-96CC-8F0D8825D844</string>
</dict>
</plist>
